@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


* {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
}

.nav-item {
    color: #475569;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    text-decoration: none;
}

.mobile-nav-items-container {
    margin-top: 10px;
}



@media screen and (max-width:767px) {
    .desktop-nav-items-container {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media screen and (min-width:768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-items-container {
        display: none;
    }
}